<div class="container">
  <div class="img-container">
    <img
      src="https://images.pexels.com/photos/1493756/pexels-photo-1493756.jpeg"
      alt=""
    />
    <section>
      <h1>Flights filled with<br />the delight of JAM.</h1>
      <h3>Fly hassle-free with our booking app - your wings to the world!</h3>
    </section>
  </div>
  <h2>Find your wings with ease - Pay Less Fly More!</h2>
  <div class="search-panel col-1">
    <div class="flights-container">
      <h5>Plan Your Stay Smartly with ✨3% OFF✨ from MAYA</h5>
      <p>Plan ahead and get the best deal🤩</p>
      <hr />
      <h5>Promo Period</h5>
      <p>20 Jan - 20 Apr 2023</p>
      <hr />
      <h5>Travel Period</h5>
      <p>20 Jan 2023 - 31 Dec 2024</p>
      <hr />
      <h5>More Details</h5>
    </div>
  </div>
  <div class="search-panel col-1">
    <div class="flights-container">
      <h5>Enjoy ✨3% GCASH DISCOUNT✨ for Your Stay</h5>
      <p>Plan ahead and get the best deal🤩</p>
      <hr />
      <h5>Promo Period</h5>
      <p>20 Jan - 20 Apr 2023</p>
      <hr />
      <h5>Travel Period</h5>
      <p>20 Jan 2023 - 31 Dec 2024</p>
      <hr />
      <h5>More Details</h5>
    </div>
  </div>
  <div class="search-panel col-1">
    <div class="flights-container">
      <h5>Super App for A Perfect Holiday</h5>
      <p>Plan ahead and get the best deal🤩</p>
      <hr />
      <h5>Promo Period</h5>
      <p>20 Jan - 20 Apr 2023</p>
      <hr />
      <h5>Travel Period</h5>
      <p>20 Jan 2023 - 31 Dec 2024</p>
      <hr />
      <h5>More Details</h5>
    </div>
  </div>
</div>
