<div class="container">
  <div class="img-container">
    <img
      src="https://images.pexels.com/photos/1493756/pexels-photo-1493756.jpeg"
      alt=""
    />
    <section>
      <h1>Flights filled with<br />the delight of JAM.</h1>
      <h3>Fly hassle-free with our booking app - your wings to the world!</h3>
    </section>
  </div>

  <div class="flights-container">
    <h2>Famous Destinations with Cheap Flights</h2>
    <div class="container">
      <h1>Order Confirmation</h1>
      
      <div class="row">
        <div class="col-md-6">
          <h2>Flight Details</h2>
          <p><strong>Flight Number:</strong> UA1234</p>
          <p><strong>Departure City:</strong> Incheon </p>
          <p><strong>Departure Date:</strong> 01/20/2023</p>
          <p><strong>Departure Time:</strong> 12:00 PM</p>
          <p><strong>Arrival City:</strong> Manila</p>
          <p><strong>Arrival Date:</strong> 02/15/2023</p>
          <p><strong>Arrival Time:</strong> 3:00 PM</p>
        </div>
        
        <div class="col-md-6">
          <h2>Passenger Information</h2>
          <p><strong>Name:</strong> John Henson</p>
          <p><strong>Email:</strong> johnhenson@gmail.com</p>
          <p><strong>Phone:</strong>  8123-4567.</p>
          <p><strong>Address:</strong> 123 Main Street, South Korea, SK 10001</p>
          <p><strong>Payment Method:</strong> GCASH **** **** **** 1234</p>
          <p><strong>Total Price:</strong> ₱ 10199</p>
        </div>
      </div>
      
      <div class="text-center">
        <button class="btn btn-primary">Confirm Order</button>
      </div>
    </div>
    


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
